@theme colors {
  --color-light: var(--color-stone-50);
  --color-dark: var(--color-stone-950);

  --color-default: var(--color-stone-600);
  --color-default-darkest: var(--color-stone-800);
  --color-default-dark: var(--color-stone-700);
  --color-default-neutral: var(--color-default);
  --color-default-light: var(--color-stone-500);
  --color-default-lightest: var(--color-stone-400);

  --color-primary: var(--color-sky-400);
  --color-primary-darkest: var(--color-sky-600);
  --color-primary-dark: var(--color-sky-500);
  --color-primary-neutral: var(--color-primary);
  --color-primary-light: var(--color-sky-300);
  --color-primary-lightest: var(--color-sky-200);

  --color-secondary: var(--color-stone-300);
  --color-secondary-darkest: var(--color-stone-500);
  --color-secondary-dark: var(--color-stone-400);
  --color-secondary-neutral: var(--color-secondary);
  --color-secondary-light: var(--color-stone-200);
  --color-secondary-lightest: var(--color-stone-100);

  --color-success: var(--color-lime-500);
  --color-success-darkest: var(--color-lime-700);
  --color-success-dark: var(--color-lime-600);
  --color-success-neutral: var(--color-success);
  --color-success-light: var(--color-lime-400);
  --color-success-lightest: var(--color-lime-300);

  --color-warning: var(--color-amber-400);
  --color-warning-darkest: var(--color-amber-600);
  --color-warning-dark: var(--color-amber-500);
  --color-warning-neutral: var(--color-warning);
  --color-warning-light: var(--color-amber-300);
  --color-warning-lightest: var(--color-amber-200);

  --color-danger: var(--color-rose-500);
  --color-danger-darkest: var(--color-rose-800);
  --color-danger-dark: var(--color-rose-700);
  --color-danger-neutral: var(--color-danger);
  --color-danger-light: var(--color-rose-400);
  --color-danger-lightest: var(--color-rose-300);

  --color-info: var(--color-cyan-500);
  --color-info-darkest: var(--color-cyan-700);
  --color-info-dark: var(--color-cyan-600);
  --color-info-neutral: var(--color-info);
  --color-info-light: var(--color-cyan-400);
  --color-info-lightest: var(--color-cyan-300);
}