@theme typography {
  --text-2xs: .625rem;

  --text-another-text-2xs: var(--text-2xs);
  --text-another-text-xs: var(--text-xs);
  --text-another-text-sm: var(--text-sm);
  --text-another-text-md: var(--text-md);
  --text-another-text-lg: var(--text-lg);
  --text-another-text-xl: var(--text-xl);
  --text-another-text-2xl: var(--text-2xl);

  --text-another-title-2xs: var(--text-sm);
  --text-another-title-xs: var(--text-md);
  --text-another-title-sm: var(--text-lg);
  --text-another-title-md: var(--text-xl);
  --text-another-title-lg: var(--text-2xl);
  --text-another-title-xl: var(--text-5xl);
  --text-another-title-2xl: var(--text-7xl);

  --font-another-title: var(--font-sans);
  --font-another-text: var(--font-serif);
  --font-another-mono: var(--font-mono);
}

