@theme {
  /* Using tailwind default neutrals for grayscale */
  --color-light: var(--color-neutral-50);
  --color-dark: var(--color-neutral-900);

  /* Primary */
  --color-primary-50: var(--color-cyan-50);
  --color-primary-100: var(--color-cyan-100);
  --color-primary-200: var(--color-cyan-200);
  --color-primary-300: var(--color-cyan-300);
  --color-primary-400: var(--color-cyan-400);
  --color-primary-500: var(--color-cyan-500);
  --color-primary-600: var(--color-cyan-600);
  --color-primary-700: var(--color-cyan-700);
  --color-primary-800: var(--color-cyan-800);
  --color-primary-900: var(--color-cyan-900);
  --color-primary-950: var(--color-cyan-950);

  /* Secondary */
  --color-secondary-50: var(--color-lime-50);
  --color-secondary-100: var(--color-lime-100);
  --color-secondary-200: var(--color-lime-200);
  --color-secondary-300: var(--color-lime-300);
  --color-secondary-400: var(--color-lime-400);
  --color-secondary-500: var(--color-lime-500);
  --color-secondary-600: var(--color-lime-600);
  --color-secondary-700: var(--color-lime-700);
  --color-secondary-800: var(--color-lime-800);
  --color-secondary-900: var(--color-lime-900);
  --color-secondary-950: var(--color-lime-950);

  /* Tertiary */
  --color-tertiary-50: var(--color-stone-50);
  --color-tertiary-100: var(--color-stone-100);
  --color-tertiary-200: var(--color-stone-200);
  --color-tertiary-300: var(--color-stone-300);
  --color-tertiary-400: var(--color-stone-400);
  --color-tertiary-500: var(--color-stone-500);
  --color-tertiary-600: var(--color-stone-600);
  --color-tertiary-700: var(--color-stone-700);
  --color-tertiary-800: var(--color-stone-800);
  --color-tertiary-900: var(--color-stone-900);
  --color-tertiary-950: var(--color-stone-950);

  /* Warning */
  --color-warning-50: var(--color-amber-50);
  --color-warning-100: var(--color-amber-100);
  --color-warning-200: var(--color-amber-200);
  --color-warning-300: var(--color-amber-300);
  --color-warning-400: var(--color-amber-400);
  --color-warning-500: var(--color-amber-500);
  --color-warning-600: var(--color-amber-600);
  --color-warning-700: var(--color-amber-700);
  --color-warning-800: var(--color-amber-800);
  --color-warning-900: var(--color-amber-900);
  --color-warning-950: var(--color-amber-950);

  /* Danger */
  --color-danger-50: var(--color-rose-50);
  --color-danger-100: var(--color-rose-100);
  --color-danger-200: var(--color-rose-200);
  --color-danger-300: var(--color-rose-300);
  --color-danger-400: var(--color-rose-400);
  --color-danger-500: var(--color-rose-500);
  --color-danger-600: var(--color-rose-600);
  --color-danger-700: var(--color-rose-700);
  --color-danger-800: var(--color-rose-800);
  --color-danger-900: var(--color-rose-900);
  --color-danger-950: var(--color-rose-950);
}
